.cim{
    padding-left: 10px;
    padding-right: 20px;
    padding-top: 10px;
}
.pvckep{
    height: 80px;
}
.pvc{
    padding-left: 3vmax;
    padding-right: 20px;
}
.defin{
    padding-left: 5vmax;
    padding-right: 20px;
}
.lab{
    padding-left: 10px;
    font-weight: bolder;
}