.sotet{
    background-color: #505050;
    color: white;
}

.navbar-custom { 
    background-color: black;
    color: white;
}

.vilagos{
    background-color: white;
    color: black;
}

.navbar-custom { 
    background-color: white;
    color: black;
}