.sotet{
    background-color: #505050;
    color: white;
}

.body{
    background-color: white;
    color: black;
}

.card{
    background-color: #cec5c5;
    color: black;
}

.tbodydark{
    color: white;
}

.canvas
{
    background-color: #505050;
}